@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
body {
    margin:0px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.mainCont{
    width:100%;
    height: auto;
    float: left;
}
.pageContent{
  width: calc(100% - 40px);
  height: auto;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
.pageContent h1, .pageContent h2 {
  margin-bottom: 20px;
  color:#FF7E84;
}

header{
    width:100%;
    height:auto;
    float:left;
}
.topNavigation{
    width:100%;
    height:40px;
    float: left;
    background-color: #FF7E84;
}
.menuLinks{
    width:70%; 
    height:40px;
    float: left;
}
.menuLinks ul{
    list-style: none;
    margin: 0px;
}
.menuLinks ul li{
    float: left;
    margin-left:15px;
    line-height: 40px;
    
}
.menuLinks ul li a {
    color:#ffffff;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;;
}
.topIconsRight{
    width:auto;
    height: 40px;
    float: right;

}
.topBtn{
    width:auto;
    height: 25px;
    float: right;
    text-align:center;
    line-height: 25px;
    margin-right:20px;
    margin-top:5px;
    padding: 0 10px;
    background-image: linear-gradient(to right, #c3e8e3 , #e9c4c6);
}

footer{
    width:100%;
    height:300px;
    float:left;
    margin-top:20px;
    background-color: #FEF3EF;
}
.footerArea{
    width:100%;
    height:auto;
    float: left;
}
.mapCont, .contactCont{
    width:50%;
    height:380px;
    float: left;
    background-color: #FEF3EF;
}
.contactCont img {
  width: 100%;
  height: auto;
}
.contactInformationCont {
  width: 400px;
  height: auto;
  float: left;
  margin-left: 20%;
  margin-top: 20px;
  
}
.contactInformation {
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 10px;
  font-size: 20px;
}
.contactInformation i {
  color: #FF7E84;
  font-size: 22px;
}
.map{
    float: left;
    width:100%;
    height:380px;
    border:0;
    
   }
.footerLinkCont{
    width:100%;
    height:40px;
    float: left;
    background-color: #FF7E84;
    color: #ffffff;
    line-height: 40px;
}
.footerLinkCont a {
  text-decoration: none;
  color: #ffffff;
}
.footerLinkCont h3{
    color: #FF7E84;
    margin:0px;
    font-size: 20px;
    font-weight: bold;
}
.footerLinkCont ul {
    float: left;
    list-style: none;    
    margin-left:-30px;
}
.footerLinkCont ul li {
    margin-left:0px;
}
.footerLinkCont ul li a{
    text-decoration: none;
    color: #000000;
    font-size:14px;
}
.socialLinks {
  width:auto;
  height: 40px;
  float: right;
  margin-right: 10px;
  line-height: 40px;
  font-size: 25px;
}
.logoDiv {
  width:calc(100% - 20px);
  
  height: auto;
  float: left;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 10px;
}
.logo{
  width: 100px;
  height:100px;
  float: left;
}
.topMarquee{
  width: 80%;
  height: 30px;
  float: right;
  margin-top: 20px;
  color: red;
}
/*ABOUT US*/
.aboutCont{
    width:100%;
    height: auto;
    float: left;
    margin-top:10px;
}
.aboutUsDescription{
    width:60%;
    height:auto;
    min-height: 350px;
    float: left;
    background-image: linear-gradient(to left top,#FFD0C9,#DFF5F2);
    padding:20px;
}
.aboutUsDescription h3, section h3{
    color:#FF7E84;
    font-size:30px; 
}
.aboutImage{
    width:35%;
    height:auto;
    float:right;
    min-height:200px;
}
.aboutImage img {width:100%; height: auto;}
.section{
    width: 100%;
    height:auto;
    float: left;
    margin-top:10px;
}
.sectionHeading{
    width:100%;
    height: auto;
    float: left;
    text-align:center;
}
.homeNewsBoxes, .homeEventBoxes, .homePhotosGallery{
    width:100%;
    height:auto;
    margin-top:10px;
    float: left;
    
}

/*news box styles*/

/* NEWS */
.snip1527 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #fff;
    float: left;
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    margin: 10px 1%;
    max-width: 310px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
  }
  .snip1527 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .snip1527 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  }
  .snip1527 figcaption {
    padding: 25px 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: -moz-linear-gradient(
      90deg,
      #700877 0,
      #ff2759 100%,
      #ff2759 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      #700877 0,
      #ff2759 100%,
      #ff2759 100%
    );
    background: linear-gradient(90deg, #700877 0, #ff2759 100%, #ff2759 100%);
    opacity: 0.8;
    z-index: -1;
  }
  .snip1527 .date {
    background-color: #fff;
    border-radius: 50%;
    color: #700877;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -15px;
  }
  .snip1527 .date span {
    display: block;
    line-height: 14px;
  }
  .snip1527 .date .month {
    font-size: 11px;
  }
  .snip1527 h3,
  .snip1527 p {
    margin: 0;
    padding: 0;
  }
  .snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  .snip1527 p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0;
  }
  .snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  .snip1527.hover img,
  .snip1527:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
.eventCard{
  width: 300px;
  height: 100px;
  float: left;
  margin-top:10px;
  margin-left: 20px;
  border: #000000 solid 1px;
}
.eventCardDate {
  width:100px;
  height: 100px;
  float: left;
  background-color: #FF7E84;
  color: #ffffff;
  font-size:25px;
  text-align: center;
  line-height: 100px;
}
.eventCardText {
  width: 180px;
  height: 80px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  overflow: hidden;
}
.galleryPhoto{
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
}
.galleryPhoto img {
  width: 100%;
  height: auto;
}

.leaveFormContainer {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
}

.leaveFormContainer form {
	display: flex;
	flex-direction: column;
}

.leaveFormContainer label {
	margin-top: 10px;
}

.leaveFormContainer input[type="text"], textarea {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.leaveFormContainer input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.leaveFormContainer input[type="submit"]:hover {
	background-color: #3e8e41;
}


#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}


/* timetable for students and teachers */
     
.course-img>img{
  margin-left: -3px;
}
.timetable-box:hover{
box-shadow: 0 0 25px grey;
transition: all .2s ease-in-out; 
transform: scale(1.1); 
transform: skew(10deg);
}


.timetable-box {
width: 365px;
height: 300px;
float: left;
background-color: #FFECE8;
margin-left: 80px;
margin-top: 50px;
}



.course_heading>h1{
font-family: 'Bona Nova', serif; 
font-size: 50px;
font-weight: 900;
text-align: center;
margin-top: 25px;
color: #ff7e84;
}
.box1>p{
text-align: center;
margin-top: 80px;

}

.timetable-popup_box .timetable-popup_content {
max-height: 80%;
max-width: 50%;
/* margin-left: 300px; */
}
.timetable-sem-popup_box .timetable-sem-popup_content{
margin-left: 150px;
}
.timetable-popup_box>h2{
color:#ff7e84;
font-family: 'Bona Nova', serif; 
font-size: 50px;
font-weight: 900;
text-align: center;
}

.timetable-overlay_popup {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.timetable-overlay_popup:target {
visibility: visible;
opacity: 1;
}
.timetable-popup_box {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
background-color: #FFECE8;
width: 70%;
height: auto;
position: relative;
transition: all 2s ease-in-out;
}
.timetable-popup_box .timetable-popup_close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.timetable-popup_box .timetable-popup_content {
max-height: 80%;
max-width: 100%;

}
.timetable-popup_content>h2{
font-size: 30px;
font-weight: 700;
font-family: 'Bona Nova', serif; 
color:#ff7e84;    
}
.timetable-sem-popup_box {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
background-color: #FFECE8;
width: 30%;
height: auto;
position: relative;
transition: all 2s ease-in-out;
}
.timetable-sem-popup_box .timetable-popup_close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.timetable-sem-popup_box .timetable-popup_content {
max-height: 80%;
max-width: 100%;

}
.timetable-sem-popup_box>h2{
color:#ff7e84;
font-family: 'Bona Nova', serif; 
font-size: 50px;
font-weight: 900;
text-align: center;
}





/* timetable for students and teachers */
     
.course-img>img{
  margin-left: -3px;
}
.timetable-box:hover{
box-shadow: 0 0 25px grey;
transition: all .2s ease-in-out; 
transform: scale(1.1); 
transform: skew(10deg);
}


.timetable-box {
width: 365px;
height: 300px;
float: left;
background-color: #FFECE8;
margin-left: 80px;
margin-top: 50px;
}


.timetable-box a{
text-decoration: none;
color:#ff7e84 ;
font-size: 35px;
font-weight: 700;
}


.course_heading>h1{
font-family: 'Bona Nova', serif; 
font-size: 50px;
font-weight: 900;
text-align: center;
margin-top: 25px;
color: #ff7e84;
}
.box1>p{
text-align: center;
margin-top: 80px;

}

.timetable-popup_box .timetable-popup_content {
max-height: 80%;
max-width: 50%;
/* margin-left: 300px; */
}
.timetable-sem-popup_box .timetable-sem-popup_content{
margin-left: 150px;
}
.timetable-popup_box>h2{
color:#ff7e84;
font-family: 'Bona Nova', serif; 
font-size: 50px;
font-weight: 900;
text-align: center;
}

.timetable-overlay_popup {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.timetable-overlay_popup:target {
visibility: visible;
opacity: 1;
}
.timetable-popup_box {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
background-color: #FFECE8;
width: 70%;
height: auto;
position: relative;
transition: all 2s ease-in-out;
}
.timetable-popup_box .timetable-popup_close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.timetable-popup_box .timetable-popup_content {
max-height: 80%;
max-width: 100%;

}
.timetable-popup_content>h2{
font-size: 30px;
font-weight: 700;
font-family: 'Bona Nova', serif; 
color:#ff7e84;    
}
.timetable-sem-popup_box {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
background-color: #FFECE8;
width: 30%;
height: auto;
position: relative;
transition: all 2s ease-in-out;
}
.timetable-sem-popup_box .timetable-popup_close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.timetable-sem-popup_box .timetable-popup_content {
max-height: 80%;
max-width: 100%;

}
.timetable-sem-popup_box>h2{
color:#ff7e84;
font-family: 'Bona Nova', serif; 
font-size: 50px;
font-weight: 900;
text-align: center;
}


.simple-login-container{
  width:300px;
  max-width:100%;
  margin:50px auto;
}
.simple-login-container h2{
  text-align:center;
  font-size:20px;
}

.simple-login-container .btn-login{
  background-color:#FF5964;
  color:#fff;
}